langchain==0.1.8
python-dotenv==1.0.0

# pdf
PyPDF2==3.0.1
pypdf==3.17.3

# embedding
InstructorEmbedding==1.0.1
torch==2.2.1
tqdm==4.66.2
sentence-transformers==2.2.2


# faiss
faiss-cpu==1.7.4


# User Interface
streamlit==1.31.1